.UsersList-container{
  width: 100%;
  height: 100%;
}

.UsersList-list{
  line-height: 2rem;
  padding-left: 3rem;
}

.UsersList-li{
  color: rgb(201, 201, 201);
  font-size: 0.9rem;
}

.UsersList-li-name{
  color:black;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 10px 0 4px;
}

.UsersList-info{
  display: flex;
  justify-content: center;
}